n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -400,
        -64
      ],
      "id": "fc29e152-9a31-4bc1-b5d4-64430e76fbca",
      "name": "When chat message received",
      "webhookId": "589da890-d810-4e51-a65c-1b24c9971e66"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an Smart Gmail Agent .\n\nYour job is to:\n1. Read the incoming user query.\n2. Classify it into one category: \"customer\" or \"admin\".\n3. Call the HTTP Request tool\n4. From the API response, select only users whose \"role\" matches the classified category.\n5. Send the query by email to strictly all selected users from API response alone.\n\nClassification rules:\n\nCustomer queries include:\n- Product Inquiry\n- General Support\n- Sales Question\n- Billing Inquiry\n- Feature Request\n\nAdmin queries include:\n- Technical Escalation\n- System Issue\n- Security Concern\n- Data Issue\n- Integration Problem\n\nEmail rules:\n- Always send the email only to the specified user groups .\n- Do not invent recipients, CCs, or BCCs.\n- Do not modify the meaning of message_body.\n- Keep the tone professional unless explicitly instructed otherwise.\n- Before sending, validate:\n  - recipient_email is not empty and looks like a valid email.\n  - subject is not empty.\n  - message_body is not empty."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        -64
      ],
      "id": "c411bc7d-2609-47b7-85eb-94932eda864b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=anthropic.claude-3-sonnet-20240229-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -288,
        144
      ],
      "id": "56b530f8-a028-4165-aa05-183e18e92741",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "kxXujSsjXexMeLdx",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        144
      ],
      "id": "04a8a259-d1eb-42f9-b6a5-30748403e336",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe5d4e31-91bd-433c-a1b5-61ac376f555e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -64
      ],
      "id": "3e41f21f-efdb-453b-ab18-aa747c8e9120",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailRecipient\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        144,
        144
      ],
      "id": "23925fd3-fbba-4dda-9dc9-0b9e3933e26b",
      "name": "Gmail",
      "webhookId": "780fcc2f-5d95-45c3-85be-006e0a8df55d",
      "credentials": {
        "gmailOAuth2": {
          "id": "m2jdO7NAwko6bwZI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.escuelajs.co/api/v1/users",
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "except",
        "fields": "avatar, creationAt, updatedAt"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        16,
        176
      ],
      "id": "9341cad1-df41-4a24-a5b1-b28442d1d653",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a7468780-ec29-476a-8902-2b82a01cb1ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1297a0aef5a5ca74d4dd8e0d7f165d0d6cd732f04401d655f3d44916a27ee32"
  },
  "id": "NFtr8IqsS91FP7G11AXzk",
  "tags": []
}